<div class="mod_timetable_occupancy_item var_high">
    <span data-timetable="parse-list">1.</span>
    <svg class="mod_svgsprite_icon var_SBB_utilization_high" role="img">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons.svg#SBB_utilization_high"> </use>
    </svg>
</div>
<span class="mod_timetable_stage_connection_icons_wrapper">
        <svg class="mod_svgsprite_icon var_SBB_oev_b_t02" focusable="false">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons.svg#SBB_oev_b_t02"></use>
        </svg>
        <svg class="mod_svgsprite_icon var_SBB_product_ic" focusable="false">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons.svg#SBB_product_ic"></use>
        </svg>
</span>