<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Fahrplan</title>
    <link rel="stylesheet" href="/static/auto-complete.min.css"/>
    <link rel="stylesheet" href="/static/fahrplan.min.css"/>
    <script src="/static/auto-complete.min.js"></script>
</head>
<body>
<table>
    <tr class="query_row">
        <td><input type="text" id="from" placeholder="Von"/></td>
        <td rowspan="2">
            <button class="switch_locations" onclick="switch_locations()">⇅</button>
        </td>
    </tr>
    <tr class="query_row">
        <td><input type="text" id="to" placeholder="Nach"/></td>
    </tr>
    <tr class="query_row">
        <td colspan="2">
            <div style="float: left">
                <button onclick="incrementDate(1)" class="time_button">+</button>
                <br/>
                <input id="date" class="date_input" value=""/><br/>
                <button onclick="incrementDate(-1)" class="time_button">-</button>
            </div>
            <div class="time">
                <button onclick="incrementHour(1)" class="time_button">+</button>
                <br/>
                <input id="hour" class="hour_input" value="{{ hour }}"/>&nbsp:<br/>
                <button onclick="incrementHour(-1)" class="time_button">-</button>
            </div>
            <div class="time">
                <button onclick="incrementMinute(1)" class="time_button">+</button>
                <br/>
                <input id="minute" class="minute_input" value="{{ minute }}"/><br/>
                <button onclick="incrementMinute(-1)" class="time_button">-</button>
            </div>
            <div class="time">
                <button style="margin-top: 2.3em;" onclick="initTimeSelect()" class="time-button">Jetzt</button>
            </div>
        </td>
    </tr>
    <tr class="query_row">
        <td colspan="2">
            <button onclick="do_query(0, true)" class="query_button">Suchen</button>
        </td>
    </tr>
</table>
<div id="connections" style="display: none; border-top: 1px solid lightgray; margin-top: 0.5em">
    <table id="results"></table>
</div>
</body>
<script src="/static/fahrplan.js"></script>
</html>