@media all and (max-width: 1081px) {
    html {
        font-family: arial, sans-serif;
        font-size: 5vw;
    }

    body {
        font-size: 5vw;
    }

    table {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        font-size: 5vw;
    }

    input {
        width: 80%;
        font-size: 5vw;
        border-radius: 0.1em;
        border: 1px solid #ccc;
        padding: 0.4em 0.8em;
    }

    button {
        font-size: 5vw;
        border: 1px solid #ccc;
        border-radius: 0.1em;
        background-color: #f2f2f2;
        color: #333;
        padding: 0.4em 0.8em;
    }

    button.query_button {
        width: 100%;
    }
}

@media all and (min-width: 1080px) {
    html {
        font-family: arial, sans-serif;
    }

    table {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
    }

    input {
        border-radius: 0.1em;
        border: 1px solid #ccc;
        padding: 0.4em 0.8em;
    }

    button {
        border: 1px solid #ccc;
        border-radius: 0.1em;
        background-color: #f2f2f2;
        color: #333;
        padding: 0.4em 0.8em;
    }
}

button.time_button {
    width: 2.8em;
    margin: 0.1em;
}

button.show_details {
    width: 2.5em;
}

input.minute_input, input.hour_input {
    width: 1.2em;
    margin: 0.1em;
}

input.date_input {
    margin: 0.1em;
    width: 6em;
}

table#results {
    width: 100%;
}

div.time {
    float: left;
    margin-left: 0.1em;
}

div.location {
    background-color: #E4E4E4;
    padding: 0.5em;
    font-weight: bold;
}

div.connection_details_route {
    background-color: white;
    padding: 0.5em;
}

p.connection_title {
    padding: 0.2em;
    font-weight: bolder;
    font-style: italic;
    margin: 0.5em 0 0 0;
}

p {
    margin: 0;
}

p.time {
    font-weight: bold;
    display: inline;
}

p.platform {
    display: inline;
    margin-left: 1em;
}

p.italic {
    font-style: italic;
}

td {
    background-color: #eaf5ff;
    padding: 0.1em;
}

tr.query_row > td {
    background-color: white;
}

tr.title_row > td {
    border-top: 0.3em solid white;
}